{% extends 'VictoireCmsBundle:Widget:new.html.twig' %}

{% block form %}
<div class="alert alert-warning">{{ 'widget.breadcrumb.new.nocustomisation'|trans({}, 'victoire') }}</div>
{% endblock form %}
