{% trans_default_domain "victoire" %}
{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form %}
{{ parent() }}
<div class="alert alert-warning">{{ 'widget.breadcrumb.new.nocustomisation'|trans({}, 'victoire') }}</div>
{% endblock form %}
